.ignore-options-modal {
    --width: calc(100% - 40px);
    --height: calc(100% - 40px);

    ion-list {
        ion-item {
            ion-label {
                font-size: 14px !important;
            }
        }
    }
}
