<ion-tabs #homeTabs>
  <ion-tab-bar>
    <!-- <ion-tab-button (click)="onTabClicked('help')" [class.tab-selected]="selectedTab === 'help'">
      <ion-icon name="help" ios="help" md="help"></ion-icon>
      <ion-label>{{'help.title' | localizedresource | async}}</ion-label>
    </ion-tab-button> -->
    <!-- <ion-tab-button (click)="onTabClicked('profile')" [class.tab-selected]="selectedTab === 'profile'">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{'user.profile.title' | localizedresource | async}}</ion-label>
    </ion-tab-button> -->
    <ion-tab-button class="home" (click)="onTabClicked('home')" [class.tab-selected]="selectedTab === 'home'">
      <ion-icon name="home"></ion-icon>
      <!-- <ion-label>{{'dashboard.all' | localizedresource | async}}</ion-label> -->
    </ion-tab-button>
    <!-- <ion-tab-button (click)="onTabClicked('notification')" [class.tab-selected]="selectedTab === 'notification'">
      <ion-icon ios="notifications-outline" md="notifications-outline"></ion-icon>
      <ion-label>{{'alert.title' | localizedresource | async}}</ion-label>
    </ion-tab-button> -->
    <!-- <ion-tab-button (click)="onTabClicked('settings')" [class.tab-selected]="selectedTab === 'settings'">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{'settings.title' | localizedresource | async}}</ion-label>
    </ion-tab-button> -->
</ion-tab-bar>
</ion-tabs>
