<ion-tabs #homeTabs>
  <ion-tab-bar>
    <ion-tab-button (click)="onTabClicked('ignored')" [class.tab-selected]="selectedTab === 'ignored'">
      <ion-icon name="notifications-off" ios="notifications-off" md="notifications-off"></ion-icon>
      <ion-label>{{'notification.ignored' | localizedresource | async}}</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button (click)="onTabClicked('profile')" [class.tab-selected]="selectedTab === 'profile'">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{'user.profile.title' | localizedresource | async}}</ion-label>
    </ion-tab-button> -->
    <ion-tab-button class="home" (click)="onTabClicked('home')" [class.tab-selected]="selectedTab === 'home'">
      <ion-icon name="home"></ion-icon>
      <!-- <ion-label>{{'dashboard.all' | localizedresource | async}}</ion-label> -->
    </ion-tab-button>
    <!-- <ion-tab-button (click)="onTabClicked('notification')" [class.tab-selected]="selectedTab === 'notification'">
      <ion-icon ios="notifications-outline" md="notifications-outline"></ion-icon>
      <ion-label>{{'alert.title' | localizedresource | async}}</ion-label>
    </ion-tab-button> -->
    <ion-tab-button (click)="onTabClicked('setting')" [class.tab-selected]="selectedTab === 'setting'">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{'setting.title' | localizedresource | async}}</ion-label>
    </ion-tab-button>
</ion-tab-bar>
</ion-tabs>
