page-home-dashboard {
    ion-header {
        ion-toolbar {
            &.toolbar-calendar {
                text-align: center;
                
                ion-label {
                    padding: 10px 0;
                    font-size: 0.8em;
                }
            }
        }
    }
    
    ion-content {
        --padding-bottom: 80px;

        ion-item {
            --padding-start: 0;
            --padding-inline-end: 0;
            --inner-padding-end: 0;
        }
    }
}