page-home-dashboard {
    ion-header {
        ion-toolbar {
            text-align: center;

            &.toolbar-calendar {                
                ion-label {
                    padding: 10px 0;
                    font-size: 0.8em;
                }
            }
        }
    }
    
    ion-content {
        --padding-bottom: 80px;
    }
}